{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle recette{% endblock %}

{% block body %}
    <h1>Créez une nouvelle recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}">Retour à la liste des recettes</a>
{% endblock %}
