{% extends 'base_admin.html.twig' %}

{% block title %}Création d'une nouvelle recette{% endblock %}

{% block body %}
    <h1>Créez une nouvelle recette</h1>

    {{ include('admin/recette/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('recette_index') }}">Retour à la liste des recettes</a>
{% endblock %}
