<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit= return confirm ('Êtes-vous sûr de vouloir supprimer cette recette ?');>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <a class="btn btn-outline-secondary">Supprimer l'article</a>
</form>
