{% extends 'base_admin.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
    <h1>Créez un nouvel article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('article_index') }}">Retour à la liste d'articles</a>
{% endblock %}
