{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
    <h1>Créez un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Retour à la liste d'articles</a>
{% endblock %}
